<h2>Products</h2>

<div *ngFor="let myProduct of productsImp">
  <h3>
    <a [title]="myProduct.name + ' details'">
      {{myProduct.name}}
    </a>  
  </h3>
  <p *ngIf="myProduct.description; else elseBlock">
    Description: {{myProduct.description}}
  </p>
  <ng-template #elseBlock>No Description<br><br></ng-template>
  <button type="button" (click)="share()">
    Share
  </button>

  <app-product-alerts 
    [productProp]="myProduct"
    (notify)=onNotify()>
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->